@font-face {
    font-family: Uniformn;
    src: url(../assets/fonts/Uniform.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Uniform;
    }

#container_main {
    background-color: antiquewhite;
    margin: 10px;
}
#container_publicite {
    background-color: aquamarine;
    margin: 5px;
}
#pub_et_promotion {
    background-color: aqua;
    margin: 10px;
    position: relative;
}
#pub {
    background-color: brown;
    margin: 15px;
}
#promotion {
    background-color: rgba(13, 13, 13, 0.5);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}
#promotion_texte {
    color: white;
    margin: 10px;
}

#bouton_promotion {
    background-color: red;
    width: 100%;
    color: white;
    margin: 10px;
}
img {
    width: 100%;
    height: 100%;
}
#Tarifs_et_films {
    
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
#tarif {
    background-color: #186CB0;
    color: white ;
    text-align: center;
    width: 50%;
    margin: 0 4px 0 0;
    
}
#tarifs {
    background-color: #186CB0;
    color: white ;
}
#films {
    background-color: #186CB0;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 0 0 4px;
}
#container_type_abonnement {
    background-color: yellow;
}
#abo_illimity {
    background-color: pink;
}
#titre {
    background-color: blueviolet;
}
#container_general {
    margin: 10px;
}
@media screen and (max-width: 480px) {

    #li_espace_pro {
            display: none;
        }
    .container {
        font-size: 15px;
    }
}