@font-face {
    font-family: Uniformn;
    src: url(../assets/fonts/Uniform.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Uniform;
    }

#container_main {
    background-color: antiquewhite;
    margin: 10px;
}

#pub_et_promotion {
    margin: 10px;
    position: relative;
}
#promotion {
    background-color: rgba(13, 13, 13, 0.5);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}
#promotion_texte {
    color: white;
    margin: 10px;
}

#bouton_promotion {
    background-color: red;
    width: 100%;
    color: white;
    margin: 10px;
}
img {
    width: 100%;
    height: 100%;
}
#Tarifs_et_films {
    
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
#tarif {
    background-color: #186CB0;
    color: white ;
    text-align: center;
    width: 50%;
    margin: 0 4px 0 0;
    
}
#tarifs {
    background-color: white;
    color: #186CB0 ;
}
#container_films {
    background-color: white;
    color: #186CB0 ;
}
#films {
    background-color: #186CB0;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 0 0 4px;
}
#container_type_abonnement {
    margin: 10px;
    display: flex ;
    color: black;
    background-color: rgb(214, 211, 211);
    padding: 5px;
}
#abo_illimity {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#grand_container {
    display: flex;
    flex-wrap: wrap;
}
#container_general {
    margin: 10px;
}
#container_type_film {
    background-color: rgb(214, 211, 211);
    display: flex;
    margin: 10px;
}
#presentation {
    background-color: rgb(214, 211, 211);
}
#image_film {
    position: relative;
    padding: 15px;
    
}
#container_image_film {
    width:  150px;
    
    align-items: center;
}
#container_image_film img {
    border: white solid 3px;
}
#titre_film {
    padding: 5px;
    color: black;
    text-align: start;
    font-size: 15px;

}
#image_etoiles {
    width: 30px;
    height: 30px;
}
#comedie_button {
    background-color: #4F8B1A;
    border-radius: 2px;
    padding: 3px;
    color: white;
}

#bouton_coup_de_coeur {
    background-color: red;
    color: white;
    padding: 3px;
    position: absolute;
    top: 18px;
    left: 18px;
}
#containerDescriptifFilm {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}
#coeur {
    width: 20px;
    height: 20px;
}
#synopsis {
    text-align: end;
    color: black;
    padding: 15px;
}
#container_synopsis {
    align-items: end;
}
#secondBlocAvecSalles {
    background-color: aqua;
}
@media screen and (max-width: 480px) {

    #li_espace_pro {
            display: none;
        }
    .container {
        font-size: 15px;
    }
    #pub_et_promotion {
        display: none;
    }
    #titre_film {
        padding: 5px;
        color: black;
        text-align: start;
        font-size: 10px;
    
    }
    
}